<h3><%= l(:label_comment) %></h3>
<%= form_tag({:controller => 'issue_comments', :action => 'create', :issue_id => @issue}, :id => "add_comment_form") do %>
  <div class="box">
    <em class="info"><%= l(:text_info_comment_visibility) %></em>
    <%= text_area 'comment', 'comments', :cols => 80, :rows => 10, :class => 'wiki-edit' %>
    <%= wikitoolbar_for 'comment_comments' %>
  </div>
  <p>
    <%= submit_tag l(:button_add) %>
    <%= preview_link preview_comment_path, 'add_comment_form', "comment_preview" %>
  </p>
<% end %>

<div id="comment_preview"></div>
